In [ ]:
print("Hello world! I  Don't give a Bug ")

Hello world! I  Don't give a Bug

In [ ]:
name = "Musfiqur Shakib"
print(name)

Musfiqur Shakib

In [ ]:
age = "24"
salary = "9995452"
name = "Musfiqur Shakib"
print(age)
print(salary)
print(name)

24
9995452
Musfiqur Shakib

In [ ]:
val = input("Enter your value:")
print(val)

Enter your value:24
24

In [ ]:
a = 7
b = 5
add = a + b
sub = a - b
mul = a * b
mod = a % b
p = a ** b
print(add)
print(sub)
print(mul)
print(mod)
print(p)

12
2
35
2
16807

In [ ]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [ ]:
a = 10
b = 4
print( a & b)
print( a | b)
print(~a)
print( a ^ b)
print( a >> 2)
print( a << 2)

0
14
-11
14
2
40

In [ ]:
a = 11
b = 7
b= a
print(b)
b += a
print(b)
b -= a
print(b)
b *= a
print(b)
b <<= a
print(b)

11
22
11
121
247808

In [ ]:
i = 20
if (i < 15):
  print("i is smaller than 15")
  print("i'm in if Block")
else:
  print("i is greater than 15")
  print("i'm in else Block")
  print("i'm not in if and not in else Block")

i is greater than 15
i'm in else Block
i'm not in if and not in else Block

In [ ]:
i = 20
if (i == 10):
  print("i is 10")
elif(i == 15):
  print("i is 15")
elif(i == 20):
  print("i is 20")
else:
  print("i is not present")

i is 20

In [ ]:
for i in range(0, 10, 2):
  print(i)

0
2
4
6
8

In [ ]:
count = 0
while(count < 3):
  count = count + 1
  print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

In [ ]:

def evenOdd(x):
  if(x % 2 == o):
    print("even")
  else:
    print("odd")